# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the pandas commands learned in the previous lesson to learn more about our data!

## Objectives

You will be able to: 

- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the Data

Load the file `'WorldCupMatches.csv'` as a DataFrame in pandas.

In [1]:
# Import pandas using the standard alias
import pandas as pd

# Load 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv("./WorldCupMatches.csv")

## Common Methods and Attributes

Use the correct method to display the **first 7 rows** of the dataset.

In [2]:
print(df.head(7))

   Year              Datetime    Stage         Stadium         City  \
0  1930  13 Jul 1930 - 15:00   Group 1         Pocitos  Montevideo
1  1930  13 Jul 1930 - 15:00   Group 4  Parque Central  Montevideo
2  1930  14 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo
3  1930  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4  1930  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo
5  1930  16 Jul 1930 - 14:45   Group 1  Parque Central  Montevideo
6  1930  17 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo

  Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
0         France                4                1         Mexico
1            USA                3                0        Belgium
2     Yugoslavia                2                1         Brazil
3        Romania                3                1           Peru
4      Argentina                1                0         France
5          Chile                3                0         Mexico
6     Yugoslavia                4                0        Bolivia

  Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
0                     4444.0                     3                     0
1                    18346.0                     2                     0
2                    24059.0                     2                     0
3                     2549.0                     1                     0
4                    23409.0                     0                     0
5                     9249.0                     1                     0
6                    18306.0                     0                     0

                    Referee               Assistant 1  \
0    LOMBARDI Domingo (URU)     CRISTOPHE Henry (BEL)
1         MACIAS Jose (ARG)  MATEUCCI Francisco (URU)
2       TEJADA Anibal (URU)   VALLARINO Ricardo (URU)
3     WARNKEN Alberto (CHI)       LANGENUS Jean (BEL)
4       REGO Gilberto (BRA)      SAUCEDO Ulises (BOL)
5     CRISTOPHE Henry (BEL)   APHESTEGUY Martin (URU)
6  MATEUCCI Francisco (URU)    LOMBARDI Domingo (URU)

                  Assistant 2  RoundID  MatchID Home Team Initials  \
0         REGO Gilberto (BRA)      201     1096                FRA
1       WARNKEN Alberto (CHI)      201     1090                USA
2         BALWAY Thomas (FRA)      201     1093                YUG
3    MATEUCCI Francisco (URU)      201     1098                ROU
4  RADULESCU Constantin (ROU)      201     1085                ARG
5         LANGENUS Jean (BEL)      201     1095                CHI
6       WARNKEN Alberto (CHI)      201     1092                YUG

  Away Team Initials
0                MEX
1                BEL
2                BRA
3                PER
4                FRA
5                MEX
6                BOL

Display the **last 3 rows** of the dataset.

In [3]:
print(df.tail(3))

     Year              Datetime                     Stage  \
849  2014  09 Jul 2014 - 17:00                Semi-finals
850  2014  12 Jul 2014 - 17:00   Play-off for third place
851  2014  13 Jul 2014 - 16:00                      Final

                 Stadium             City Home Team Name  Home Team Goals  \
849   Arena de Sao Paulo       Sao Paulo     Netherlands                0
850     Estadio Nacional        Brasilia          Brazil                0
851  Estadio do Maracana  Rio De Janeiro         Germany                1

     Away Team Goals Away Team Name                       Win conditions  \
849                0      Argentina  Argentina win on penalties (2 - 4)
850                3    Netherlands
851                0      Argentina        Germany win after extra time

     Attendance  Half-time Home Goals  Half-time Away Goals  \
849     63267.0                     0                     0
850     68034.0                     0                     2
851     74738.0                     0                     0

                   Referee            Assistant 1              Assistant 2  \
849     C�neyt �AKIR (TUR)   DURAN Bahattin (TUR)        ONGUN Tarik (TUR)
850  HAIMOUDI Djamel (ALG)   ACHIK Redouane (MAR)  ETCHIALI Abdelhak (ALG)
851   Nicola RIZZOLI (ITA)  Renato FAVERANI (ITA)     Andrea STEFANI (ITA)

     RoundID    MatchID Home Team Initials Away Team Initials
849   255955  300186490                NED                ARG
850   255957  300186502                BRA                NED
851   255959  300186501                GER                ARG

Get a concise summary of the data using `.info()`.

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB
None

Obtain a tuple representing the **number of rows and number of columns**.

In [5]:
df_tuple = (len(df), len(df.columns))
print(df_tuple)
print(type(df_tuple))

(852, 20)
<class 'tuple'>

Use the appropriate attribute to get the **column names**.

In [6]:
print(df.columns)

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame Information

When looking at the DataFrame's `.head()` and `.tail()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to display all the information from the 3rd to the 5th game (i.e. **select rows 3 through 5 inclusive**).

In [7]:
print(df.iloc[3:6])

   Year              Datetime    Stage         Stadium         City  \
3  1930  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4  1930  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo
5  1930  16 Jul 1930 - 14:45   Group 1  Parque Central  Montevideo

  Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
3        Romania                3                1           Peru
4      Argentina                1                0         France
5          Chile                3                0         Mexico

  Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
3                     2549.0                     1                     0
4                    23409.0                     0                     0
5                     9249.0                     1                     0

                 Referee              Assistant 1                 Assistant 2  \
3  WARNKEN Alberto (CHI)      LANGENUS Jean (BEL)    MATEUCCI Francisco (URU)
4    REGO Gilberto (BRA)     SAUCEDO Ulises (BOL)  RADULESCU Constantin (ROU)
5  CRISTOPHE Henry (BEL)  APHESTEGUY Martin (URU)         LANGENUS Jean (BEL)

   RoundID  MatchID Home Team Initials Away Team Initials
3      201     1098                ROU                PER
4      201     1085                ARG                FRA
5      201     1095                CHI                MEX

Now, display the info from **game 5-9** (inclusive), but **only the `"Home Team Name"` and the `"Away Team Name"` columns**.

In [8]:
df.loc[5:9, ('Home Team Name', 'Away Team Name')]

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

Next, we'd like the information on all the games played in **Group 3** for the **1950** World Cup.

Hint: You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [9]:
df[(df['Year'] == 1950) & (df['Stage'] == 'Group 3')]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

Let's repeat the command above, but this time display **only the attendance column** for the Group 3 games.

In [10]:
df.loc[(df['Year'] == 1950) & (df['Stage'] == 'Group 3'), ["Attendance"]]

    Attendance
56     36502.0
61      7903.0
65     25811.0

Throughout the entire history of the World Cup as recorded in this dataset, **how many home games were played by the Netherlands**?

(Remember that you can use the `len()` built-in function to find the number of rows in a DataFrame.)

In [11]:
len(df.loc[(df['Home Team Name'] == 'Netherlands')])

32

**How many games were played by the Netherlands in total**?

In [12]:
len(df.loc[(df['Home Team Name'] == 'Netherlands') | (df['Away Team Name'] == 'Netherlands')])

54

Next, let's try and figure out **how many games the USA played in the 2014 World Cup**.

In [13]:
len(df.loc[((df['Home Team Name'] == 'USA') | (df['Away Team Name'] == 'USA')) & (df['Year'] == 2014)])

5

Now, let's try to find out **how many countries participated in the 1986 World Cup**.

Hint 1: As a first step, create a new dataset that only contains games in that year.

Hint 2: Make sure you don't end up with duplicate country names. Consider using `set()` or `.unique()`.

In [14]:
df1 = df[df['Year'] == 1986]
home_country_list = list(df1['Home Team Name'])
away_country_list = list(df1['Away Team Name'])
country_list = home_country_list + away_country_list
country_list = set(country_list)
print(country_list)

{'Iraq', 'Spain', 'Mexico', 'Denmark', 'Argentina', 'Germany FR', 'Scotland', 'Paraguay', 'France', 'Northern Ireland', 'Uruguay', 'England', 'Belgium', 'Portugal', 'Soviet Union', 'Algeria', 'Morocco', 'Hungary', 'Brazil', 'Bulgaria', 'Canada', 'Poland', 'Italy', 'Korea Republic'}

## Changing Values and Creating New Columns

In World Cup history, **how many matches had 5 goals or more in total**? Create a column `"Total Goals"` to answer this question.

In [15]:
df['Total Goals'] = df['Home Team Goals'] + df['Away Team Goals']
len(df[df['Total Goals'] >= 5])

147

Now **create a new column `"Half-time Goals"`** in `df` that includes both home and away values.

In [16]:
df['Half-time Goals'] = list(zip(df['Half-time Home Goals'] , df['Half-time Away Goals']))
df['Half-time Goals']

0      (3, 0)
1      (2, 0)
2      (2, 0)
3      (1, 0)
4      (0, 0)
        ...
847    (0, 0)
848    (0, 5)
849    (0, 0)
850    (0, 2)
851    (0, 0)
Name: Half-time Goals, Length: 852, dtype: object

In [17]:
# Run this cell without changes to see your new column
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials',
       'Total Goals', 'Half-time Goals'],
      dtype='object')

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [18]:
# Run this cell without changes

# Display all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [19]:
# Update the 'Home Team Name' and 'Home Team Initials' columns 
df[df['Home Team Name'].str.contains('Korea')] = "Korea"

Make sure to verify your answer!

In [34]:
# Check the updated columns
df['Home Team Name'].unique()

array(['France', 'USA', 'Yugoslavia', 'Romania', 'Argentina', 'Chile',
       'Uruguay', 'Brazil', 'Paraguay', 'Austria', 'Hungary',
       'Switzerland', 'Sweden', 'Germany', 'Spain', 'Italy',
       'Czechoslovakia', 'Cuba', 'England', 'Germany FR', 'Turkey',
       'Soviet Union', 'Northern Ireland', 'Mexico', 'Wales', 'Portugal',
       'Korea', 'Peru', 'Belgium', 'Bulgaria', 'German DR', 'Zaire',
       'Poland', 'Australia', 'Scotland', 'Netherlands', 'Haiti',
       'Tunisia', 'Algeria', 'Honduras', 'Canada', 'Morocco', 'Iraq',
       'Denmark', 'rn">United Arab Emirates', 'Costa Rica', 'Cameroon',
       'rn">Republic of Ireland', 'Colombia', 'Norway', 'Nigeria',
       'Saudi Arabia', 'Bolivia', 'Russia', 'Greece', 'Jamaica',
       'South Africa', 'Japan', 'Croatia', 'China PR', 'Senegal',
       'Slovenia', 'Ecuador', 'rn">Trinidad and Tobago',
       'rn">Serbia and Montenegro', 'Angola', 'Czech Republic', 'Togo',
       'Iran', "C�te d'Ivoire", 'Ghana', 'Ukraine', 'Serbia',
       'New Zealand', 'Slovakia', 'IR Iran', 'rn">Bosnia and Herzegovina'],
      dtype=object)

## Summary

In this lab, you practiced accessing data within Pandas!